.nav{
    display: flex;
    
}

.main{
    background-color: black;
    padding: 20px;
    color: white;
}

.hyperLink{
    text-decoration: none;
    color: inherit;
    color: white;
    cursor: pointer;
    margin: 20px;
}